body{
    background-color: #1d2a35;
    color: white;
    font-family: verdana, sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.outside_container{
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.unit_dropdown {
    width: 200px;
    margin: 50px;
}

button{
    border-radius: 20px;
}
#arrow{
    margin-top: 50px;
}