body{
    background-color: #1d2a35;
    color: white;
    font-family: verdana, sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.outside_container{
    width: 100%;
}

.container_drop{
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.container_chart{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}


.unit_dropdown {
    width: 100px;
}

button{
    border-radius: 20px;
}

.arrow{
    font-size: xx-large;
}

.dropdown_table{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}