<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="calculator">
        <form method ="POST">
            Amount of your currency followed by the 3 letter abreviation: <input name="amtandunit"><br><br>
            The currency you would like to convert to: <input name="currency to convert to">
            <button type="submit">submit</button>
        </form>    
        <h2>Your converted currency is: {{convertedcurr}}</h2>
    </div>
    <div id="currencies">
        <h1>List of available currencies</h1>
        <br>EUR	Euro
        <br>USD	US Dollar
        <br>JPY	Japanese Yen
        <br>BGN	Bulgarian Lev
        <br>CZK	Czech Republic Koruna
        <br>DKK	Danish Krone
        <br>GBP	British Pound Sterling
        <br>HUF	Hungarian Forint
        <br>PLN	Polish Zloty
        <br>RON	Romanian Leu
        <br>SEK	Swedish Krona
        <br>CHF	Swiss Franc
        <br>ISK	Icelandic Króna
        <br>NOK	Norwegian Krone
        <br>HRK	Croatian Kuna
        <br>RUB	Russian Ruble
        <br>TRY	Turkish Lira
        <br>AUD	Australian Dollar
        <br>BRL	Brazilian Real
        <br>CAD	Canadian Dollar
        <br>CNY	Chinese Yuan
        <br>HKD	Hong Kong Dollar
        <br>IDR	Indonesian Rupiah
        <br>ILS	Israeli New Sheqel
        <br>INR	Indian Rupee
        <br>KRW	South Korean Won
        <br>MXN	Mexican Peso
        <br>MYR	Malaysian Ringgit
        <br>NZD	New Zealand Dollar
        <br>PHP	Philippine Peso
        <br>SGD	Singapore Dollar
        <br>THB	Thai Baht
        <br>ZAR	South African Rand    
    </div>
    
</body>
</html>